<div class="create-post-page-div">
    <h1>Create post</h1>

    <div class="create-post-content">
        <div class="create-post-form">
            <mat-form-field appearance="fill" class="input-field">
                <mat-label>Location</mat-label>
                <input matInput placeholder="Location"/>
            </mat-form-field>

            
            <mat-form-field appearance="fill" class="input-field">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Description"/>
            </mat-form-field>

            
            <mat-form-field appearance="fill" class="input-field">
                <mat-label>Image</mat-label>
                <input matInput placeholder="Image"/>
            </mat-form-field>
            <button mat-raised-button class="create-post-btn" color="primary">Create post</button>
        </div>
        <div class="image-container">
            <h2>No Image</h2>
        </div>
    </div>
    <div class="map-container">
        <app-map></app-map>
    </div>
</div>
