<div class="home-page-div">
    <div class="logo-container">
        <img class="logo" src="bunny.svg"/>
        <h1 class="app-name">OnlyBuns</h1>
    </div>
    <div class = "home-page-content">
        <a href="view-posts"><button mat-raised-button color="accent">Posts</button></a>
        <a href="posts-map"><button mat-raised-button color="accent">Map</button></a>
        <a href="trends"><button mat-raised-button color="accent">Trends</button></a>
        <a href="analytics"><button mat-raised-button color="accent">Analytics</button></a>
        <a href="chat"><button mat-raised-button color="accent">Chat</button></a>
        <a href="my-profile"><button mat-raised-button color="accent">Profile</button></a>

    </div>
</div>
