<h1 class="app-name">OnlyBuns</h1>
<div class="all">
    
<div class="post-list" *ngIf="loggedProfile?.role === 'User'">
    <app-post
      *ngFor="let post of posts"
      [post]="post"
      [loggedProfile]="loggedProfile" 
      [likeIds]="likeIds"
      (postUpdated)="ngOnInit()"
    ></app-post>
</div>
<div class="home-page-div" 
[ngClass]="{'user-role-active': loggedProfile?.role === 'User'}">
    <div class="logo-container">
        <img class="logo" src="bunny.svg"/>
    </div>
    <div class = "home-page-content">
        <button (click)="logIn()" *ngIf="loggedProfile === null" mat-raised-button color="accent">Login</button>
        <button (click)="logOut()"  *ngIf="loggedProfile !== null" mat-raised-button color="accent">Logout</button>
        <button (click)="navigateToPost()" mat-raised-button color="accent">Posts</button>
        <a href="posts-map"><button mat-raised-button color="accent">Map</button></a>
        <a href="trends"><button mat-raised-button color="accent">Trends</button></a>
        <a href="analytics"><button mat-raised-button color="accent">Analytics</button></a>
        <a href="chat"><button mat-raised-button color="accent">Chat</button></a>
        <button (click)="navigateToProfile()" mat-raised-button color="accent">Profile</button>

    </div>
</div>
</div>
