.logo{
    height: 30vh;
}

.app-name{
    font-size: 2.5rem;
    color:#291263;
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    
}

.home-page-div {
    width: auto;
    margin: 0 auto;
  }
  
  /* Apply when the loggedProfile role is User */
  .user-role-active {
    width: 20%;
  }

/*SLEDI PREKOPIRAN CSS ZA POSTOVE*/

.all {
    display: flex;
    flex-direction: row;  /* Align items horizontally */
    justify-content: space-between;  /* Add space between items */
    align-items: flex-start;  /* Align items to the top */
    width: 100%;  /* Ensure full width */
}

.post-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 20px;
    width: 80%;
    padding: 10px;
  }
  
  .post-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .post-card-header {
    padding: 16px;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #333;
  }
  
  .post-card-title {
    font-weight: bold;
    font-size: 18px;
  }
  
  .post-card-subtitle {
    font-size: 14px;
    color: #666;
  }
  
  .post-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }
  
  .post-content {
    padding: 16px;
    font-size: 14px;
    color: #444;
    flex-grow: 1;  
    height: 150px;  
    overflow-y: auto;  
  }
  
  /* Style for comment hover effect */
  .post-content ul li {
    cursor: pointer; /* Change cursor to indicate clickability */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  }
  
  .post-content ul li:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
    color: #007bff; /* Change text color on hover */
  }
  
  
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  
  ul li {
    margin-bottom: 8px;
  }
  
  .post-actions {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
  }
  
  mat-card-actions button {
    font-size: 14px;
  }
  
  h1 {
    font-size: 2.5em;
    text-align: center;
  }