/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .leaflet-popup-content-wrapper {
  width: 260px !important;
  max-width: 260px !important;
}

::ng-deep .leaflet-popup-content {
  width: 260px !important;
  max-width: 260px !important;
  margin: 0 !important;
  padding: 0 !important;
}